.page-header__wrapper {
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  position: relative;
  background-color: #1b2d37;
  padding-left: 9%;
  padding-right: 4%;
  padding-top: 13px;
  padding-bottom: 268px;
  overflow: hidden;
  // background-image: url("../../img/header-promo.png"),
                    // url("../../img/header-background-dottes.png"),
                    // url("../../img/header-background.png");
  // background-position: 68vw 21vh, 0 0, 0 93%;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 14%;
    right: 16%;
    content: "";
    display: inline-block;
    width: 636px;
    height: 636px;

    background-image: url("../../img/header-background.png");
    background-position: 75.5% 64%;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    top: 18%;
    right: 5%;
    content: "";
    display: inline-block;
    width: 705px;
    height: 515px;

    background-image: url("../../img/header-promo.png");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    // background-image: url("../../img/header-promo2x.png"),
                      // url("../../img/header-background-dottes@2x.png"),
                      // url("../../img/header-background@2x.png");
  }
}

.page-header__contacts {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;

  & p {
    width: 163px;
    padding-left: 70px;
    padding-top: 9px;

    font-family: "roboto-condenced";
    font-weight: 800;
    font-size: 25px;
    line-height: 16px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 20px;

      width: 52px;
      height: 52px;

      background: url("../../img/circuit.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: url("../../img/circuit@2x.png");
        background-size: 52px auto;
      }
    }

    & span {
      font-family: "roboto-condenced";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;

      color: #788891;
    }
  }

  & button {
    width: 180px;
    height: 45px;
    border-radius: 5px;
    background-color: transparent;

    margin-right: 10.5%;

    font-family: "roboto-condenced";
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  & ul {
    @include list-clear;
    display: flex;
    justify-content: flex-end;
    width: 53%;
    margin-left: auto;

    & li {
      margin-right: 6%;
      margin-left: 6%;

      & a {
        color: #ffffff;
        font-family: "PTMono";
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        white-space: pre;
      }

      & svg {
        margin-right: 12px;
      }
    }
  }
}

.page-header__description {
  width: 47%;

  & h1 {
    padding-top: 50px;
    margin-top: 152px;
    margin-bottom: 24px;
    margin-left: -4px;

    font-family: "roboto-condenced-bold";
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
  }

  & p {
    position: relative;

    padding-left: 13%;
    letter-spacing: 1px;

    font-family: "PTMono";
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: 17px;
      left: 2px;

      display: inline-block;
      width: 66px;
      height: 2px;

      background-color: #ffffff;
    }
  }

  & button {
    width: 407px;
    height: 55px;

    padding: 0;
    margin-top: 20px;
    margin-left: 96px;

    font-family: "roboto-condenced-bold";
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;

    color: #ffffff;

    background: #00B2FF;
    border-radius: 5px;
  }
}

@media (max-width: $desktop-width-1834) {
  .page-header {
    &::before {
      top: 9%;
      left: 43%;
    }

    &::after {
      left: 54%;
    }
  }

  .page-header__contacts {
    padding-right: 2%;

    & button {
      margin-right: 0;
    }
  }

  .page-header__description {
    & p {
      &::before{
        top: 15px;
        left: 6px;
        width: 35px;
      }
    }
  }
}

@media (max-width: $desktop-width-1024) {
  .page-header {
    padding-left: 2.5%;
    padding-right: 2%;
    padding-bottom: 163px;

    // background-size: 470px, cover, 1494px;
    // background-position: 53vw 17vh, center, 46% -179px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      // background-image: url("../../img/header-promo2x.png"),
                        // url("../../img/header-background-dottes@2x.png"),
                        // url("../../img/header-background@2x.png");
    }

    &::before {
      top: -12%;
      left: 45%;
      transform: scale(0.8);
    }

    &::after {
      transform: scale(0.65);
      top: 5%;
      left: 50%;
    }
  }


  .page-header__contacts {
    & p {
      width: 163px;
      padding-left: 76px;
      line-height: 17px;

      &::before {
        left: 6px;
        top: 21px;

        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
          background: url("../../img/circuit@2x.png");
          background-size: 52px auto;
        }
      }
    }

    & ul {
      min-width: 200px;
      & li {
        margin-right: 0;
        margin-left: 6%;

        & svg {
          transform: scale(1.4);
        }

        & a {
          width: 0;
          overflow: hidden;
          display: inline-block;
        }
      }
    }

    & button {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }
  }

  .page-header__description {
    width: 53%;
    margin-left: 9%;

    & h1 {
      padding-left: 0;
      margin-top: 45px;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.07em;

      color: #ffffff;
    }

    & p {
      margin-top: 29px;
      margin-bottom: 34px;
      font-size: 18px;
      line-height: 156.8%;

      &::before {
        top: 15px;
        left: 6px;

        width: 35px;
      }
    }

    & button {
      width: 379px;
      margin-left: 54px;
    }
  }
}

