.page-header {
  background-color: #1b2d37;
  padding-left: 163px;
  padding-right: 91px;
  padding-top: 20px;
  background-image: url("../../img/header-background.png");
  background-position: center;
}
