@mixin font-regular {
  font-family: "PTMono", "Arial", sans-serif;
  font-weight: 400;
}

@mixin font-roboto-regular {
  font-family: "roboto-condensed", "Arial", sans-serif;
  font-weight: 400;
}

@mixin font-roboto-bold {
  font-family: "roboto-condensed-bold", "Arial", sans-serif;
  font-weight: 800;
}


@mixin list-clear {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hover-active {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
