body {
  @include font-regular;
  // box-sizing: border-box;
  width: 100%;
  max-width: 2000px;
  min-width: 320px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: #ffffff;
  background-color: #ffffff;
  line-height: 30px;
}

@media (max-width: $desktop-width-1024) {
  body {
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
